{% extends "base.html" %}
{% load i18n %}
{% load get_banner %}
{% block content %}
    {{ block.super }}
    <h3>{% trans "Login" %}</h3>
    <fieldset class="col-md-offset-3 col-md-6">
        {% if "banner_enable"|get_banner_conf %}
            <div class="well">
                {{ "banner_message"|get_banner_conf }}
            </div>
        {% endif %}

        {# social:begin is POST-only (social-app-django >= 6), so this is a form, not a link. #}
        {% if AZUREAD_SSO_ENABLED %}
            <form method="POST" action="{% url 'social:begin' 'azuread-tenant-oauth2' %}"> {% csrf_token %}
                {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-6">
                        <button class="btn btn-primary" id="sso-azuread-tenant-oauth2" type="submit">
                            <i class="fa-brands fa-microsoft"></i>
                            {% trans "Sign in with Microsoft" %}
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}

        {% if SHOW_CLASSIC_AUTH_FORM %}
            <form class="form-horizontal" method="POST" autocomplete="off"> {% csrf_token %}
                {% include "dojo/form_fields.html" with form=form %}

                <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-2">
                        <button class="btn" id="toggleBox" onclick="togglePassVisibility()" type="button">
                            <i class="fa-solid fa-eye"></i>
                            {% trans "Show Password" %}
                        </button>
                    </div>

                    <div class="col-sm-offset-1 col-sm-2">
                        <button class="btn btn-success">{% trans "Login" %}</button>
                    </div>
                    {% if FORGOT_PASSWORD or FORGOT_USERNAME %}
                        <div class="col-sm-4">
                            <ul style="list-style-type: none">
                                {% if FORGOT_PASSWORD %}
                                    <li><a id="reset-password" href="{% url 'password_reset' %}">{% trans "I forgot my password" %}</a></li>
                                {% endif %}
                                {% if FORGOT_USERNAME %}
                                    <li><a id="forgot-username" href="{% url 'forgot_username' %}">{% trans "I forgot my username" %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </form>
        {% endif %}
    </fieldset>
{% endblock %}
